.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
	/*box shadow modified from http://codepen.io/lonekorean/pen/EdCjk/ */
	box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}



html, body {

margin:0;

padding:0;


}

.bigImage{

	background: url(images/darklandscape.jpg) ;
	position: fixed; 
	overflow: scroll;
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
	
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   /*background-size: cover;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: Amatic-Bold;
   font-weight: bolder;*/
   

	
	
}


h1 {
	font-family: Amatic-Bold;
	color:white;
	font-size: 10em;
	
}

h2 {
	font-family: Amatic-Bold;
	
}

h3{
	font-family: Amatic-Bold;
}

p {
	font-family: AmaticSC-Regular;
}




.header{
   background: url(images/darklandscape.jpg) no-repeat top center fixed;
   background-size: cover;
   height: 500px;
   width: 100%;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
   font-size: 50px;
   }
   
   .center {
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    font-family: AmaticSC-Regular;
}


.box {
   
    margin-bottom: 5em;
    display: block;
    width: 200px;
    height: 250px;
    background-color: #FFF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
	margin-bottom: 2em;
	padding: 1em;
    background-color: #FFCCCC;
    width: 400px;
    height: 400px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: 0px 0px 2px 2px #FFCCCC;
}

.down {
	-webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg); 
-o-transform:rotate(-180deg); 
transform:rotate(-180deg);
ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.leftHalf {
   /*background: url(images/windowwall.jpg);*/
   width: 25%;
   margin-top: 0;
   position: absolute;
   left: 1em;
   height: 50%;
   
}

.leftHalf50 {
   /*background: url(images/windowwall.jpg);*/
   width: 50%;
   margin-top: 0;
   margin-bottom: 0;
   position: absolute;
   left: 1em;
   padding: 1em;
  
   background-color: #000; 
   opacity: 0.7;
   
   left: 0; 
   width: 40%;
   min-height:100%; 
   color: white;
   
}

.inline{
	display: inline-block;
	padding-left: 1em;
}
.right {
	padding: 1em;
	width: 50%;
	top: 100px;
	background-color: #000;
	 opacity: 0.7;
	 margin-right: 2em;
   position: absolute;
   right: 0px;
   height: 50%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.centerText{ 
	padding: 1em;
   position: relative;
   background-color: #ffffff; 
   opacity: 0.9;
   top: 50px; 
   left: 35%; 
   width: 50%;
   height:inherit; 
}
.cornerText { 
	padding: 1em;
   position: absolute;
   background-color: #ffffff; 
   opacity: 0.4;
   top: 50px; 
   left: 0; 
   width: 25%; 
}
.secret {
	text-align: center;
	color: white;
	text-transform: lowercase;
	font-size: larger;
	
}

a{
	font-family: Amatic-Bold;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    text-fill-color: inherit;
   
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



.footer {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
  width:100%;
  
}



/*code from http://enjoycss.com/start#border */

.diamond {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 0;
  position: relative;
  margin: 20px 0 50px;
  border: 25px solid rgba(0,0,0,0);
  border-top-width: 0;
  border-bottom-color: #1abc9c;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  
}

.diamond::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 25px;
  left: -25px;
  border: 50px solid rgba(0,0,0,0);
  border-top: 70px solid #1abc9c;
  border-bottom-width: 0;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  
}

.diamond:hover {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 0;
  position: relative;
  margin: 20px 0 50px;
  border: 25px solid rgba(0,0,0,0);
  text-shadow: green 5px 5px 5px;
  
  border-top-width: 0;
  border-bottom-color: pink;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  font-color: white;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  
}

.diamond:hover::after{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 25px;
  left: -25px;
  border: 50px solid rgba(0,0,0,0);
  border-top: 70px solid pink;
  border-bottom-width: 0;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  
  
}

/*nav stuff*/    

.sideNav{
height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;    
}

 ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	
    
	/*overflow: hidden;*/
	
	
}
li{
	float: left;
	margin: 1em;
	padding: 1em;
	
	
}

#right{
	float: right;
	margin: 1em;
	padding: 1em;
	
	
	
}




.navi{
	position: inherit;
	width:100%;
	top:0;
	left:15;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}
